@page "{restaurantId:int}"

@model Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>Details</h2>
<dl class="row">
    <dt class="col-sm-3">Restaurant ID:</dt>
    <dd class="col-sm-9">@Model.RestaurantData.Id</dd>

    <dt class="col-sm-3">Name of the restaurant:</dt>
    <dd class="col-sm-9">@Model.RestaurantData.Name</dd>

    <dt class="col-sm-3">Location:</dt>
    <dd class="col-sm-9">@Model.RestaurantData.Location</dd>

    <dt class="col-sm-3">Cuisine:</dt>
    <dd class="col-sm-9">@Model.RestaurantData.Cuisine</dd>

    <dt class="col-sm-3">Description:</dt>
    <dd class="col-sm-9">@Model.RestaurantData.Description</dd>
</dl>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<a asp-page="./List" class="btn btn-primary">Go Back</a>